body
{
	font-family: Arial;
	font-size: 11px;
}
.content
{
	font-family: Arial;
	font-size: 11px;
}
.tbBorder1-lt
{
	width: 17px;
	height: 17px;
	background-image: url(../images/co_01.gif);
}
.tbBorder1-mt
{
	background-image: url(../images/bg01.gif);
	height: 17px;
	overflow: hidden;
}
.tbBorder1-rt
{
	width: 17px;
	height: 17px;
	background-image: url(../images/co_02.gif);
}
.tbBorder1-lb
{
	width: 17px;
	height: 17px;
	background-image: url(../images/co_03.gif);
}
.tbBorder1-mb
{
	background-image: url(../images/bg04.gif);
	height: 17px;
}
.tbBorder1-rb
{
	width: 17px;
	height: 17px;
	background-image: url(../images/co_04.gif);
}
.tbBorder1-l
{
	background: transparent url(../images/bg02.gif);
	width: 17px;
}
.tbBorder1-r
{
	background: transparent url(../images/bg03.gif);
	width: 17px;
}
